* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 100%;

	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

	--color-1: rgb(0, 0, 0);
	--color-2: rgb(255, 255, 255);
	--trim: rgb(150, 150, 150);
	--base: #dedede;
}

.app {
	flex: 1;
	min-width: 500px;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1.2rem;
	color: var(--color-1);
	background-color: var(--color-1);
	overflow: hidden;
}

header {
	width: max(40%, 500px);
	display: flex;
	align-items: center;
	position: absolute;
	color: var(--color-2);
	line-height: 54px;
}

header .spacer {
	flex: 1;
	align-self: stretch;
	background-color: var(--color-1);
}

header .header-content {
	min-width: 505px;
	padding-right: 30px;
	padding-left: 10px;
	background-color: var(--color-1);
	background: linear-gradient(120deg, var(--color-1) 0 93%, var(--color-2) 93% 100%);
}

.header-content h1 {
	margin-left: auto;
}

.eczar-header {
  font-family: "Eczar", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
	letter-spacing: 3px;
}

main {
	flex: 1;
	align-self: center;
	width: min(800px, 100%);
	padding: 90px 40px 90px 40px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 10px;
	background-color: var(--color-2);
}

.input-wrapper {
	padding: 10px 10px 4px 10px;
	display: flex;
	justify-content: stretch;
	gap: 10px;
	border-radius: 6px;
}

.input-group {
	flex: 1;
}

.input-group textarea {
	width: 100%;
	resize: none;
	outline: none;
	overflow: hidden;
}

.input-group textarea, .display-wrapper p {
	min-height: 160px;
	padding: 6px;

	border: 1px solid var(--trim);
	border-radius: 6px;

	background-color: var(--base);
	font-family: system-ui, Helvetica, Arial, sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: -0.5px;

	-webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10 and IE 11 */
  user-select: text; /* Standard syntax */
}

.display-wrapper {
	padding: 10px;
	display: none;
	gap: 10px;
	border-radius: 6px;
	white-space: pre-wrap;
}

.display-wrapper p {
	flex: 1;
	max-height: 340px;
	overflow: auto;
}

.material-symbols-outlined.btn {
	max-width: 34px;
	min-width: 34px;
	max-height: 34px;
	min-height: 34px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--trim);
	border-radius: 6px;
	cursor: pointer;
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: var(--trim) 0px -2px 1px inset;
	color: var(--trim);
	font-size: 1rem;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24;
	transition: transform 0.1s;
}

.btn:hover {
	transform: scale(1.1, 1.1);
}

.btn:active {
	min-height: 31px;
	max-height: 31px;
	transform: translateY(4px) scale(1.1, 1.1);
	box-shadow: var(--trim) 0px 0px 1px inset;
}

footer {
	width: max(40%, 500px);
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	right: 0;
	color: var(--color-2);
}

footer .footer-content {
	min-width: 505px;
	height: 54px;
	padding-left: 40px;
	background-color: var(--color-1);
	background: linear-gradient(120deg, var(--color-2) 7%, var(--color-1) 7% 100%);
}

footer .spacer {
	flex: 1;
	align-self: stretch;
	background-color: var(--color-1);
}
